.feed{
    width: 95%;
    height: 100%;
    background-color: #f3f3f3;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px;
    cursor: pointer;
}
.feed-top{
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.feed-top img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.feed-info{
    margin-left: 20px;
    height: 48%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}
.feed-info p:nth-child(2){
    color: #757575;
}
.feed-caption{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.feed-caption p:nth-child(1){
    width: 70%;
}
.feed-caption p:nth-child(2){
    border-bottom: 1px solid black;
}
.feed-image{
    width: 95%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
}
.feed-likes{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40px;
}
.feed-icons{
    display: flex;
    align-items: center;
}
.feed-icons p{
    margin-left: 20px;
}
.feed-likes button{
    width: 15%;
    height: 50%;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;   
}
.feed-comments{
    width: 95%;
    margin-top: 10px;
}
.comment{
    width: 99%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 15px auto 0;
    padding: 0 10px;
    box-shadow: 1px 1px 7px 2px rgb(226, 226, 226);
    border-radius: 8px;
    background-color: white;
}
.comment img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

}
.comment input{
    width: 70%;
    height: 40px;
    margin-left: 15px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 16px;
    padding-left: 5px;
}
.comment input:focus{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.comment button{
    height: 40px;
    width: 20%;
    margin-left: 10px;
    font-size: 16px;
    background: black;
    border: none;
    color: white;
    border-radius: 10px;
}
.people-comment{
    width: 99%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 7px 2px rgb(226, 226, 226);
    border-radius: 5px;
}
.people-comment img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-info{
    width: 80%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment-info h5{
    font-size: 15px;
}